:root {
    --clr-main-100: #e0efde; 
    --clr-main-900: #2b3d41;
    --clr-white: #fff;
    --clr-black: #000;  
}

.wrapper {
    background-color: var(--clr-main-900);
    width: 100%;
    height: 80px;

}