:root {
    --clr-main-100: #e0efde; 
    --clr-main-900: #2b3d41;
    --clr-white: #fff;
    --clr-black: #000;  
}

.title {
    font-family: var(--ff-title);
    color: var(--clr-white);
    font-size: 32px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}