:root {
    --clr-main-100: #e0efde; 
    --clr-main-900: #2b3d41;
    --clr-white: #fff;
    --clr-black: #000;  
}

.wrapper {
    padding: 2rem 3rem;
}

.taxWrapper {
    display: flex;
}

@media(min-width: 750px) {

}

@media(min-width: 1250px) {

}